.header {
    height: 165px;

    display: flex;
    font-family: sans-serif;

    .tile-title {
        font-size: 25px;
        flex-grow: 1;

        margin: 0;
    }

    .intro-title {
        font-size: 35px;
    }

    .preview-content {
        display: flex;
        flex-direction: column;

        height: 100%;
    }

    .select-button {
        height: 60px;
        width: 100%;
    }

    .preview-icon-container {
        position: relative;

        width: 30vw;
        font-size: 75px;

        aspect-ratio: 1;

        .preview-icon {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
