.header {
    height: 165px;

    .header-content {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .tile-title {
        font-size: 25px;
        flex-grow: 1;
        text-shadow: 0 0 40px rgba(0, 0, 0, 0.5);

        margin: 0;
    }

    .intro-title {
        font-size: 35px;
        text-shadow: 0 0 65px rgba(0, 0, 0, 0.5);

        margin-left: 20px;
    }

    .preview-content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        height: 100%;
    }

    .select-button {
        height: 60px;
        width: 100%;

        font-size: 25px;

        border: none;

        cursor: pointer;

        background: linear-gradient(to bottom right, #634579, #541981);
        border-radius: 8px;
        color: #f0f0f0;
        text-shadow: 0 0 14px rgba(190, 190, 190, 0.5);
        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.5);
    }

    .preview-cell-header {
        color: #312a28;

        &.checked {
            color: #004586;
            
            .preview-icon {
                color: #004586;
                text-shadow: 0 0 60px rgba(0, 69, 132, 0.25);
            }
        }

        &:not(.checked) {
            .preview-icon {
                color: #584b45;
                text-shadow: 0 0 60px rgba(80, 78, 74, 0.5);
            }
        }
    }

    .preview-icon-container {
        position: relative;

        width: 150px;
        height: 100%;
        font-size: 75px;

        .preview-icon {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            aspect-ratio: 1;
        }
    }

    .preview-logo-container {
        position: relative;

        width: calc(var(--body-container-width) / 3);

        margin-right: 20px;

        display: flex;
        flex-direction: column;

        .preview-logo-text {
            text-align: center;

            font-size: 20px;
        }
    }
}

.footer {
    display: flex;
    height: 3em;
    
    .reset-link {
        flex-grow: 1;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;

        cursor: pointer;

        color: #564c47;
    }
}
