<div class="header">
    <ng-container *ngIf="previewCell$ | async as previewCell; else noPreviewTile">
        <div class="preview-icon-container" style="flex-shrink: 0;">
            <div class="preview-icon">
                <i [class]="previewCell.tile.icon"></i>
            </div>
        </div>
        <div style="flex-grow: 1;">
            <div class="preview-content">
                <h3 class="tile-title">
                    {{ previewCell.tile.title }}
                </h3>
                <div>
                    <button class="select-button" type="button" (click)="toggleTile(previewCell.tile)">
                        <span *ngIf="previewCell.checked$ | async; else unchecked">I haven't</span>
                        <ng-template #unchecked><span>That's me!</span></ng-template>
                    </button>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #noPreviewTile>
        <h3 class="intro-title" style="flex-grow: 1;">
            <ng-container *ngIf="hasBingo$ | async as hasBingo; else noBingo">
                Bingo!
            </ng-container>
            <ng-template #noBingo>
                Let's play!
            </ng-template>
        </h3>
        <div class="preview-logo-container">
            <div class="preview-logo-text">
                Sponsored by
            </div>
            <img src="assets/aimi-logo.png" alt="AIMI Logo" />
        </div>
    </ng-template>
</div>

<app-bingo-board></app-bingo-board>
<div class="footer">
    <img src="assets/jnj-mi-logo.svg" alt="Johnson & Johnson Innovative Medicine" />
</div>