<div class="header">
    <div class="header-content preview-cell-header" *ngIf="previewCell$ | async as previewCell; else noPreviewTile"
        [class.checked]="previewCell.cell.checked$ | async">
        <div class="preview-icon-container" style="flex-shrink: 0;">
            <div class="preview-icon">
                <i [class]="previewCell.cell.tile.icon"></i>
            </div>
        </div>
        <div style="flex-grow: 1;">
            <div class="preview-content">
                <h3 class="tile-title">
                    {{ previewCell.cell.tile.title }}
                </h3>
                <div>
                    <button class="select-button" type="button" (click)="toggleTile(previewCell.cell.tile)">
                        <span *ngIf="previewCell.cell.checked$ | async; else unchecked">{{ previewCell.negation
                            }}</span>
                        <ng-template #unchecked><span>{{ previewCell.affirmation }}</span></ng-template>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #noPreviewTile>
        <div class="header-content">
            <h3 class="intro-title" style="flex-grow: 1;">
                <ng-container *ngIf="hasBingo$ | async as hasBingo; else noBingo">
                    Bingo!
                </ng-container>
                <ng-template #noBingo>
                    Let's play!
                </ng-template>
            </h3>
            <div class="preview-logo-container">
                <div class="preview-logo-text">
                    Sponsored by
                </div>
                <img src="assets/aimi-logo.png" alt="AIMI Logo" />
            </div>
        </div>
    </ng-template>
</div>

<app-bingo-board></app-bingo-board>
<div class="footer">
    <img src="assets/jnj-mi-logo.svg" alt="Johnson & Johnson Innovative Medicine" />
</div>