:ng-host {
    --container-margin: 20px;
    --cell-padding: 20px;
}

@keyframes intro-animation {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes bingo-animation {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.bingo-container {
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));

    gap: var(--grid-gap);
    max-width: 600px;
    margin: 20px auto;

    width: 100%;
    height: 100%;

    overflow: visible;

    .bingo-cell {
        animation-name: intro-animation;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-delay: calc((var(--cell-row) + 1) * 0.1s);
    }

    &.has-bingo {
        .bingo-cell {
            animation-name: bingo-animation;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-delay: calc(var(--cell-index) * 0.1s);
        }
    }
}

.bingo-cell {
    width: 100%;
    aspect-ratio: 1;

    position: relative;

    background: linear-gradient(
        to bottom right,
        #e3b6b2,
        #EB1703);
    border: 2px solid #333;
    padding: 0;
    text-align: center;
    transition:
        transform 0.3s ease,
        z-index 0s,
        background-color 0.3s,
        box-shadow 0.3s ease;

    margin: auto;
    text-align: center;

    border-radius: 8px; // Adjust as needed for the desired roundness
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow

    &.center-cell {
        background: linear-gradient(
            to bottom right,
            #ffffff,
            #cccccc);
        color: #1a1a1a;
        text-shadow: none;
    }

    &:not(.center-cell) {
        cursor: pointer;
        color: #e3e3e3;
        text-shadow: 0 0 14px rgba(0, 0, 0, 0.5);    
    }

    &.checked {
        background: linear-gradient(
            to bottom right,
            #0084fd,
            #004686)
    }

    &:not(.checked) {
        &.preview {
            background: linear-gradient(
                to bottom right,
                #68d2ff,
                #57b3da);
        }
    }

    &.magnify {
        /* Scale up the cell */
        transform: scale(1.5);
        /* Raise the z-index so it's above other cells */
        z-index: 10;

        /* Assuming there are 5 columns, adjust if there are more or fewer */
        &:nth-child(5n + 1) {
            /* first column, anchor transform to the right */
            transform-origin: center left;
        }

        &:nth-child(5n) {
            /* fifth column, anchor transform to the left */
            transform-origin: center right;
        }
    }

    .bingo-cell-content {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .bingo-tile {
            font-size: min(10vw, 80px);
        }

        img {
            aspect-ratio: 1;
        }
    }

    img {
        width: calc(0.15 * var(--body-container-width));
        object-fit: contain;
    }
}
