<div class="bingo-container" (touchstart)="onTouchStart($event)" (mousedown)="onTouchStart($event)"
    (mouseup)="onTouchEnd()" (touchend)="onTouchEnd()" (touchmove)="onTouchMove($event)"
    (mousemove)="onTouchMove($event)" [style.--column-count]="columnCount" [style.--grid-gap]="gridGapPx + 'px'"
    [class.has-bingo]="hasBingo$ | async"
    #container>

    <div *ngFor="let cell of cells" class="bingo-cell" [class.checked]="cell.checked$ | async"
        [class.preview]="cell.previewing$ | async" [class.magnify]="getShouldMagnifyObservable(cell) | async">
        <div class="bingo-cell-content">
            <div *ngIf="cell?.type === 'tile'; else bingoCell" class="bingo-tile">
                <i [class]="cell?.tile?.icon"></i>
            </div>

            <ng-template #bingoCell>
                <ng-container *ngIf="isPreviewing$ | async; else notPreviewing">
                    <img src="/assets/aimi-logo.png" alt="AIMI Logo" />
                </ng-container>

                <ng-template #notPreviewing>
                    BINGO!
                </ng-template>
            </ng-template>
        </div>
    </div>
</div>