/* You can add global styles to this file, and also import other style files */
* {
    font-family: sans-serif;

    --body-container-width: min(100vw, 600px);
}

body {
    padding: 20px max(0px, calc((100vw - var(--body-container-width)) / 2));
    background: radial-gradient(circle at top, #e2e0e0, #c4bdb6);

    background-size: cover;
    background-attachment: fixed;
}

.header {
    .preview-cell-header {
        &.checked {
            .preview-icon {
                text-shadow: 0 0 60px rgba(0, 69, 132, 0.25);
                svg {
                    filter: drop-shadow(0 0 60px rgba(0, 69, 132, 0.25));
                }
            }
        }

        &:not(.checked) {
            .preview-icon {
                text-shadow: 0 0 60px rgba(80, 78, 74, 0.5);
                svg {
                    filter: drop-shadow(0 0 60px rgba(80, 78, 74, 0.5));
                }
            }
        }
    }
}

.bingo-cell {
    &.center-cell {
        text-shadow: 0 0 15px rgba(110, 110, 110, 0.5);
        svg {
            filter: drop-shadow(0 0 15px rgba(110, 110, 110, 0.5));
        }
    }

    &:not(.center-cell) {
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        svg {
            filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
        }
    }
}
